{{>header}}
    <!-- hero begins -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-12 mx-auto">
                <div class="about-hero">
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-6 col-12">
                                <div class="home-hero-left">
                                    <img class="about-img" src="/images/usama2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="home-hero-right">
                                    <h6>Welcome To ExpressJs Weather App</h6>
                                    <h1>This is Usama Nayab , A <span>MERN Stack Developer!</span></h1>
                                    <a class="custom-btn" href="https://www.linkedin.com/in/usama-nayab/" target="_blank">About Me</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero ends -->

    {{>footer}}